 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/d30cd476e8bda0fc04b8ab59d94ae566a110854c029b8470ac17d31c2568112fdd3be72a1fd0f90e93019087daf0ae964c9604818ceffbdb6b04b0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-group-1 {
  width: 605px;
  min-height: 557px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 41px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-group-1 {
    width: 537px;
    min-height: 568px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 67.52% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 483px;
    min-height: 600px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 75% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 415px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 70.04% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-group-1 {
    width: 321px;
    min-height: 666px;
    margin-top: 49px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.8125rem;
    margin-top: 31px;
    padding-top: 15px;
    padding-left: 14px;
    padding-right: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

.u-section-2 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 47px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/e4ef3d64865f96fce6814c689c830ea39562dc5cdee698620880764d5254a615ccb111fb55f5c07ffd7269a3032a9243c482d027bfeb642c1b0a84_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  font-size: 0.875rem;
  margin: 0 auto;
  padding: 15px 40px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bad4ef8cb620e0da4900c5a8036bc59d6e5dc093c968e7d4769c3c88e42e66a698c7192a4bb235aebb6da512e38c88c397dfed563facce77520233_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  font-size: 0.875rem;
  margin: 0 auto;
  padding: 15px 40px;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ed6e749deaa9636c3b51380a4ca3d278359f6f53c4e42280bd8df5a18460c7c6a892e07fd485d1362f6a2ccef54eff8aac35e74b6099bf03bff9ae_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  font-size: 0.875rem;
  margin: 0 auto;
  padding: 15px 40px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/8a99f306cc39490cacf81deb2d1ca1dd756725f6f156ecc7e5035893900a3650948ed10db288719863216debdd7c6065c9ea6324c25dd9e82c73fa_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  font-size: 0.875rem;
  margin: 0 auto;
  padding: 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 124px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-btn-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 16px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-btn-2 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 16px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-btn-3 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 16px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-btn-4 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 16px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 834px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 48px;
    padding-bottom: 15px;
    padding-left: 47px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 48px;
    padding-bottom: 15px;
    padding-left: 47px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 48px;
    padding-bottom: 15px;
    padding-left: 47px;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 48px;
    padding-bottom: 15px;
    padding-left: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: url("images/276541033-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 391px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 236px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 27px;
  font-size: 2.25rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 236px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 auto;
  padding: 18px 56px 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 204px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 195px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-btn-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 416px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 324px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  width: 352px;
  margin: 60px auto -224px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 254px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 11px 23px;
}

.u-section-4 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/ae358181f9c984f24ab298dd3e4d14ea597fa649b05dcb789947216c3aac797294fea761ac833dd2d1a218175d694e36210cb4c8129476cac6828c_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 19px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 39px 0 0 14px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 140px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    margin-right: -132px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -237px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: -214px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -164px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -104px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 15px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.24) !important;
  opacity: 0.95 !important;
  border-color: #5b99f9 !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.24) !important;
  opacity: 0.95 !important;
  border-color: #5b99f9 !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: url("images/5381919ca7bd8e0848b4b8f9999c9d57936ec8b5beadb30942bc4187869d64a09a126043cd85d8248266bf89deba4a0672a9f1785c97213e113ae6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 700px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 391px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 236px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 27px;
  font-size: 2.25rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 236px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 56px auto 0;
  padding: 18px 56px 19px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 23.21% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 195px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 195px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-btn-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 416px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 324px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 541px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  width: 352px;
  margin: 60px auto -224px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 254px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/2e4a64f6f632935ac0abcb5a283f956a0d59fc7a0f61b7ab3fcdf8e5f021c1c7b6629fdb2592c3a7b8d3913e2e6ac08fbd7da9006064a89cc5cfb3_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 140px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    margin-right: -143px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: -243px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: -243px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -164px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -104px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 15px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  border-color: #5b99f9 !important;
  transform: scale(1.2) rotate(0deg) !important;
  opacity: 0.8 !important;
}

.u-section-6 .u-image-1 {
  border-style: solid !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  border-color: #5b99f9 !important;
  transform: scale(1.2) rotate(0deg) !important;
  opacity: 0.8 !important;
}

.u-section-6 .u-image-1 {
  border-style: solid !important;
}

.u-section-6 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}